:root{
    --primary-color: #FF6B6B;
    --accent-color: #B86B4B;
    --background-color: #FAF3E0;
    --text-color: #4B3F36 ;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}